
*.mat
results/.DS_Store
results/spnormE_g400_n100_ei100_rng42/.DS_Store
results/spnormE_g400_n100_ei100_rng42/plots/amplitude_lookup_spnormE_g400_n100_ei100_rng42_AFsweep_pw50.pdf
results/spnormE_g400_n100_ei100_rng42/plots/overview_spnormE_g400_n100_ei100_rng42_AFsweep_pw50.pdf
results/spnormE_g400_n100_ei100_rng42/plots/overview_spnormE_g400_n100_ei100_rng42_f2fdiscExp_pw50.pdf
results/spnormE_g400_n100_ei100_rng42/plots/v1check_overview_spnormE_g400_n100_ei100_rng42_AFsweep_pw50.pdf
results/spnormE_g400_n500_ei100_rng42/plots/amplitude_lookup_spnormE_g400_n500_ei100_rng42_AFsweep_pw50.pdf
results/spnormE_g400_n500_ei100_rng42/plots/overview_spnormE_g400_n500_ei100_rng42_AFsweep_pw50.pdf
results/spnormE_g400_n500_ei100_rng42/plots/overview_spnormE_g400_n500_ei100_rng42_f2fdiscExp_pw50.pdf
